.contact-section {
    padding: 80px 0;
    background-color: var(--white);
    text-align: center;
}

.contact-content a {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}